/**
 * Ovladací prvky (tlačítka, vstupní pole, ...)
 */

@import "constants";

html{

	button, input[type=button], input[type=submit]{
		&, &.forminput{
			background: transparent;
			height: 40px;
			padding: 0 18px;
			color: $fitRegular;
			font-weight: 500;
			border: 2px solid $fitRegular;
			//box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
			cursor: pointer;
			//border-radius: 3px;
			transition: 150ms all;

			&:active{
				transform: scale(0.95, 0.90);
			}

			&:hover, &:focus, &:active{
				border-color: $fitDark;
				color: $fitDark;
				//background-color: darken($fitRegular, 10%);
			}

			&:focus{
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}
}
